html {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a{
  text-decoration: none;
}


body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  background: #D9D9D9;
  min-height: 100vh;
}

.page {
  overflow: hidden;
  display: flex;
}

.header {
  background: #FFFFFF;
  height: 70px;
  display: flex;
  align-items: center;
}

.container {
  padding-right: 134px;
  padding-left: 134px;
  display: flex;
  align-items: center;
}
@media (max-width: 1440px) {
  .container {
    padding-left: 100px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding-left: 50px;
  }
}
@media (max-width: 950px) {
  .container {
    padding-left: 50px;
  }
}
@media (max-width: 768px) {
  .container  {
  padding-left: 20px;
  }
}
@media (max-width: 700px) {
  .container  {
  padding-left: 0px;
  }
}
@media (max-width: 420px) {
  .container {
    padding-left: 5px;
  }
}
@media (max-width: 413px) {
  .container {
    padding-left: 0px;
  }
}
@media (max-width: 320px) {
  .container {
    padding-left: 0px;
  }
}

.logo { 
  display: block;
  width: 125px; 
  height: 63px;
}
@media (max-width: 1200px) {
  .logo {
    width: 90px;
    margin-top: 15px;
  }
}
@media (max-width: 700px) {
  .logo  {
  width: 70px;
  margin-top: 25px;
  }
}
@media (max-width: 540px) {
  .logo {
    width: 60px;
    margin-top: 35px;
  }
}
@media (max-width: 420px) {
  .logo {
    width: 70px;
    margin-top: 25px;
  }
}
@media (max-width: 376px) {
  .logo {
    width: 55px;
    margin-top: 40px;
  }
}

.nav {
  text-decoration: none;
  font-size: 15px;
  white-space: nowrap;

} 

.main1{
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  margin-left: 130px;
  border-bottom: 1px solid #4A4A4A;
  transition: all 0.3s ease;
}
.main1:hover {
  color: #80221F;
  transform: translateX(-2px);
}

@media (max-width: 1440px) {
  .main1 {
    font-size: 12px;
  }
}
@media (max-width: 1400px) {
  .main1 {
    margin-left: 90px;
  }
}
@media (max-width: 1200px) {
  .main1 {
    margin-left: 60px;
    font-size: 10px;
  }
}
@media (max-width: 950px) {
  .main1 {
    margin-left: 40px;
  }
}
@media (max-width: 768px) {
  .main1  {
  margin-left: 50px;
  }
}
@media (max-width: 700px) {
  .main1 {
    margin-left: 25px;
  }
}
@media (max-width: 540px) {
  .main1 {
    font-size: 8px;
    margin-left: 60px;
  }
}
@media (max-width: 425px) {
  .main1 {
    margin-left: 20px;
  }
}
@media (max-width: 420px) {
  .main1 {
    font-size: 8px;
    margin-left: 10px;
  }
}
@media (max-width: 376px) {
  .main1 {
    margin-left: 15px;
    width: 360px;
    font-size: 7px;
  }
}
@media (max-width: 320px) {
  .main1 {
    margin-left: 10px;
  }
}

.main2 {
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  margin-left: 110px;
  border-bottom: 1px solid #4A4A4A;
  transition: all 0.3s ease;
}
.main2:hover {
  color: #80221F;
  transform: translateX(-2px);
}
@media (max-width: 1440px) {
  .main2 {
    font-size: 12px;
  }
}
@media (max-width: 1400px) {
  .main2 {
    margin-left: 90px;
  }
}
@media (max-width: 1200px) {
  .main2 {
    margin-left: 60px;
    font-size: 10px;
  }
}
@media (max-width: 950px) {
  .main2 {
    margin-left: 40px;
  }
}
@media (max-width: 768px) {
  .main2  {
  margin-left: 20px;
  }
}
@media (max-width: 700px) {
  .main2 {
    margin-left: 25px;
  }
}
@media (max-width: 540px) {
  .main2 {
    font-size: 8px;
  }
}
@media (max-width: 420px) {
  .main2 {
    font-size: 8px;
    margin-left: 10px;
  }
}
@media (max-width: 413px) {
  .main2 {
    margin-left: 25px;
  }
}
@media (max-width: 376px) {
  .main2 {
    margin-left: 13px;
    width: 360px;
    font-size: 7px;
  }
}
@media (max-width: 320px) {
  .main2 {
    margin-left: 10px;
  }
}

.main3 {
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  margin-left: 110px;
  border-bottom: 1px solid #4A4A4A;
  transition: all 0.3s ease;
}
.main3:hover {
  color: #80221F;
  transform: translateX(-2px);
}
@media (max-width: 1440px) {
  .main3 {
    font-size: 12px;
  }
}
@media (max-width: 1400px) {
  .main3 {
    margin-left: 90px;
  }
}
@media (max-width: 1200px) {
  .main3 {
    margin-left: 60px;
    font-size: 10px;
  }
}
@media (max-width: 950px) {
  .main3 {
    margin-left: 40px;
  }
}
@media (max-width: 768px) {
  .main3  {
  margin-left: 20px;
  }
}
@media (max-width: 700px) {
  .main3 {
    margin-left: 25px;
  }
}
@media (max-width: 540px) {
  .main3 {
    font-size: 8px;
  }
}
@media (max-width: 420px) {
  .main3 {
    font-size: 8px;
    margin-left: 10px;
  }
}
@media (max-width: 413px) {
  .main3 {
    margin-left: 25px;
  }
}
@media (max-width: 376px) {
  .main3 {
    margin-left: 13px;
    width: 360px;
    font-size: 7px;
  }
}
@media (max-width: 320px) {
  .main3 {
    margin-left: 10px;
  }
}

.main4 {
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  margin-left: 110px;
  border-bottom: 1px solid #4A4A4A;
  transition: all 0.3s ease;
}
.main4:hover {
  color: #80221F;
  transform: translateX(-2px);

}
@media (max-width: 1440px) {
  .main4 {
    font-size: 12px;
    margin-left: 110px;
  }
}
@media (max-width: 1400px) {
  .main4 {
    margin-left: 90px;
  }
}
@media (max-width: 1200px) {
  .main4 {
    margin-left: 60px;
    font-size: 10px;
  }
}
@media (max-width: 950px) {
  .main4 {
    margin-left: 40px;
  }
}
@media (max-width: 768px) {
  .main4 {
  margin-left: 20px;
  }
}
@media (max-width: 700px) {
  .main4 {
    margin-left: 25px;
  }
}
@media (max-width: 540px) {
  .main4 {
    font-size: 8px;
  }
}
@media (max-width: 376px) {
  .main4 {
    margin-left: 13px;
    width: 360px;
    font-size: 7px;
  }
}
@media (max-width: 320px) {
  .main4 {
    margin-left: 10px;
  }
}

.button {
  width: 170px;
  height: 50px;
  background: #1B1C1D;
  color: #80221F;
  font-size: 20px;
  font-weight: bold;
  margin-left: 90px;
  border-radius: 5px;
  padding-left: 13px;
  margin-top: 0px;
  padding-top: 15px;
  margin-right: 134px;
  transition: all 0.6s ease;
}
.button:hover {
  background: #80221F;
  color: #000;
}

@media (max-width: 1440px) {
  .button {
    margin-left: 150px;
  }
}
@media (max-width: 1400px) {
  .button {
    margin-left: 90px;
  }
}
@media (max-width: 950px) {
  .button {
    width: 120px;
    font-size: 15px;
    padding-left: 5px;
  }
}
@media (max-width: 768px) {
  .button  {
  margin-left: 60px;
  }
}
@media (max-width: 700px) {
  .button {
    width: 80px;
    font-size: 10px;
    height: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-left: 100px;
  }
}
@media (max-width: 605px) {
  .button {
    margin-left: 20px;
  }
}
@media (max-width: 540px) {
  .button {
    display: none;
  }
}
@media (max-width: 420px) {
  .button {
    font-size: 8px;
    margin-left: 15px;
    width: 80px;
    height: 25px;
    padding-top: 9px;
  }
}

.yellow_line {
  height: 30px;
  background: #80221F;
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 150px;
}

.span1 {
  font-size: 15px;
  letter-spacing: 2px;
  color: #000;
  font-weight: 800;
  margin-left: 139px;
  margin-right: 910px;
  white-space: nowrap;
}
@media (max-width: 1440px) {
  .span1 {
    margin-right: 885px;
    margin-left: 110px;
  }
}
@media (max-width: 1400px) {
  .span1 {
    margin-right: 730px;
  }
}
@media (max-width: 1200px) {
  .span1 {
    margin-right: 510px;
  }
}
@media (max-width: 1024px) {
  .span1 {
    margin-right: 510px;
    margin-left: 60px;
  }
}
@media (max-width: 950px) {
  .span1 {
    font-size: 12px;
    margin-right: 445px;
  }
}
@media (max-width: 768px) {
  .span1  {
  margin-left: 35px;
  margin-right: 385px;
  font-size: 10px;
  }
}
@media (max-width: 700px) {
  .span1 {
    margin-left: 10px;
    margin-right: 370px;
  }
}
@media (max-width: 605px) {
  .span1 {
    margin-right: 290px;
  }
}
@media (max-width: 540px) {
  .span1 {
    margin-right: 240px;
    font-size: 9px;
  }
}
@media (max-width: 425px) {
  .span1 {
    margin-right: 140px;
  }
}
@media (max-width: 420px) {
  .span1 {
    font-size: 8px;
    margin-left: 15px;
    margin-right: 130px;
  }
}
@media (max-width: 376px) {
  .span1 {
    margin-right: 100px;
  }
}
@media (max-width: 376px) {
  .span1 {
    margin-right: 50px;
    font-size: 7px;
  }
}

.span2 {
  font-size: 15px;
  letter-spacing: 2px;
  color: #000;
  font-weight: 800;
  white-space: nowrap;
}
@media (max-width: 950px) {
  .span2 {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .span2  {
  font-size: 10px;
  }
}
@media (max-width: 700px) {
  .span2{
    font-size: 10px;
  }
}
@media (max-width: 540px) {
  .span2 {
    font-size: 9px;
  }
}
@media (max-width: 420px) {
  .span2 {
    font-size: 8px;
    margin-left: 15px;
  }
}
.bottom {
  display: flex;
  align-items: center;
}

.contact {
  margin-left: 220px;
  display: block;
}
@media (max-width: 1440px) {
  .contact {
    margin-left: 180px; 
  }
}
@media (max-width: 1400px) {
  .contact {
    margin-left: 100px;
  }
}
@media (max-width: 605px) {
  .contact {
    margin-left: 50px;
  }
}
@media (max-width: 540px) {
  .contact {
    margin-left: 170px;
  }
}
@media (max-width: 425px) {
  .contact {
    margin-left: 120px;
  }
} 
@media (max-width: 420px) {
  .contact {
    margin-left: 120px;
  }
}
@media (max-width: 320px) {
  .contact {
    margin-left: 75px;
  }
}



.contact-text {
  font-size: 50px;
  letter-spacing: 5px;
  color: #262626;
  margin-bottom: 50px;
  margin-left: 5px;
}
@media (max-width: 1024px) {
  .contact-text {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .contact-text {
    font-size: 30px;
  }
}
@media (max-width: 420px) {
  .contact-text {
    font-size: 25px;
    margin-top: 30px;
  }
}

.first {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.adres {
  margin-left: 12px;
  letter-spacing: 3px;
  font-weight: 500;
  color: #262626;
}
@media (max-width: 1024px) {
  .adres {
    font-size: 13px;
  }
}

.second {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}


.number1 {
  margin-left: 12px;
  letter-spacing: 3px;
  font-weight: 500;
  color: #262626;
}
@media (max-width: 1024px) {
  .number1 {
    font-size: 13px;
  }
}

.third {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.number2 {
  margin-left: 12px;
  letter-spacing: 3px;
  font-weight: 500;
  color: #262626;
}
@media (max-width: 1024px) {
  .number2 {
    font-size: 13px;
  }
}

.fourd {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.vk {
  margin-left: 12px;
  letter-spacing: 3px;
  font-weight: 500;
  color: #262626;
}
@media (max-width: 1024px) {
  .vk {
    font-size: 13px;
  }
}

.icon1 {
  width: 24px;
}
@media (max-width: 768px) {
  .icon1 {
    width: 15px;
  }
}

.icon2 {
  width: 24px;
}
@media (max-width: 768px) {
  .icon2 {
    width: 15px;
  }
}

.icon3 {
  width: 24px;
}
@media (max-width: 768px) {
  .icon3 {
    width: 15px;
  }
}

.icon4 {
  width: 24px;
}
@media (max-width: 768px) {
  .icon4 {
    width: 15px;
    height: 15px;
  }
}

.map {
  margin-left: 620px;
  margin-top: -330px;
  margin-bottom: 124px;
}
@media (max-width: 1440px) {
  .map {
    margin-left: 580px; 
  }
}
@media (max-width: 1400px) {
  .map {
    margin-left: 500px;
    width: 100px;
  }
}
@media (max-width: 1301px) {
  .map {
    margin-left: 470px;
    width: 500px;
  }
}
@media (max-width: 1200px) {
  .map {
  margin: 0;
  top: 0;  
  margin-left: 100px;
  width: 70%;
  margin-top: 30px;
  }
}
@media (max-width: 950px) {
  .map  {
  margin-left: 40px;
  }
}
@media (max-width: 768px) {
  .map {
    margin-left: 0px;
  }
}
@media (max-width: 420px) {
  .map {
    margin: 0;
    top: 0;
    width: 200px;
    height: 100px;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
}


.bottoms {
  margin-top: 40px;
  background: #000000;
  margin-bottom: 50px;
}
@media (max-width: 420px) {
  .bottoms {
    display: none;
  }
}
