html {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a{
  text-decoration: none;
}


body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  background: #D9D9D9;
  min-height: 100vh;
}

.page {
  overflow: hidden;
  display: flex;
}

.header {
  background: #FFFFFF;
  height: 70px;
  display: flex;
  align-items: center;
}

.container {
  padding-right: 134px;
  padding-left: 134px;
  display: flex;
  align-items: center;
}
@media (max-width: 1440px) {
  .container {
    padding-left: 100px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding-left: 50px;
  }
}
@media (max-width: 950px) {
  .container {
    padding-left: 50px;
  }
}
@media (max-width: 768px) {
  .container  {
  padding-left: 20px;
  }
}
@media (max-width: 700px) {
  .container  {
  padding-left: 0px;
  }
}
@media (max-width: 420px) {
  .container {
    padding-left: 5px;
  }
}
@media (max-width: 413px) {
  .container {
    padding-left: 0px;
  }
}
@media (max-width: 320px) {
  .container {
    padding-left: 0px;
  }
}

.logo { 
  display: block;
  width: 125px; 
  height: 63px;
}
@media (max-width: 1200px) {
  .logo {
    width: 90px;
    margin-top: 15px;
  }
}
@media (max-width: 700px) {
  .logo  {
  width: 70px;
  margin-top: 25px;
  }
}
@media (max-width: 540px) {
  .logo {
    width: 60px;
    margin-top: 35px;
  }
}
@media (max-width: 420px) {
  .logo {
    width: 70px;
    margin-top: 25px;
  }
}
@media (max-width: 376px) {
  .logo {
    width: 55px;
    margin-top: 40px;
  }
}

.nav {
  text-decoration: none;
  font-size: 15px;
  white-space: nowrap;

} 

.main1{
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  margin-left: 130px;
  border-bottom: 1px solid #4A4A4A;
  transition: all 0.3s ease;
}
.main1:hover {
  color: #80221F;
  transform: translateX(-2px);
}

@media (max-width: 1440px) {
  .main1 {
    font-size: 12px;
  }
}
@media (max-width: 1400px) {
  .main1 {
    margin-left: 90px;
  }
}
@media (max-width: 1200px) {
  .main1 {
    margin-left: 60px;
    font-size: 10px;
  }
}
@media (max-width: 950px) {
  .main1 {
    margin-left: 40px;
  }
}
@media (max-width: 768px) {
  .main1  {
  margin-left: 50px;
  }
}
@media (max-width: 700px) {
  .main1 {
    margin-left: 25px;
  }
}
@media (max-width: 540px) {
  .main1 {
    font-size: 8px;
    margin-left: 60px;
  }
}
@media (max-width: 426px) {
  .main1 {
    margin-left: 10px;
  }
}
@media (max-width: 420px) {
  .main1 {
    font-size: 8px;
    margin-left: 10px;
  }
}
@media (max-width: 376px) {
  .main1 {
    margin-left: 15px;
    width: 360px;
    font-size: 7px;
  }
}
@media (max-width: 320px) {
  .main1 {
    margin-left: 10px;
  }
}

.main2 {
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  margin-left: 110px;
  border-bottom: 1px solid #4A4A4A;
  transition: all 0.3s ease;
}
.main2:hover {
  color: #80221F;
  transform: translateX(-2px);
}
@media (max-width: 1440px) {
  .main2 {
    font-size: 12px;
  }
}
@media (max-width: 1400px) {
  .main2 {
    margin-left: 90px;
  }
}
@media (max-width: 1200px) {
  .main2 {
    margin-left: 60px;
    font-size: 10px;
  }
}
@media (max-width: 950px) {
  .main2 {
    margin-left: 40px;
  }
}
@media (max-width: 768px) {
  .main2  {
  margin-left: 20px;
  }
}
@media (max-width: 700px) {
  .main2 {
    margin-left: 25px;
  }
}
@media (max-width: 540px) {
  .main2 {
    font-size: 8px;
  }
}
@media (max-width: 420px) {
  .main2 {
    font-size: 8px;
    margin-left: 10px;
  }
}
@media (max-width: 413px) {
  .main2 {
    margin-left: 25px;
  }
}
@media (max-width: 376px) {
  .main2 {
    margin-left: 13px;
    width: 360px;
    font-size: 7px;
  }
}
@media (max-width: 320px) {
  .main2 {
    margin-left: 10px;
  }
}

.main3 {
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  margin-left: 110px;
  border-bottom: 1px solid #4A4A4A;
  transition: all 0.3s ease;
}
.main3:hover {
  color: #80221F;
  transform: translateX(-2px);
}
@media (max-width: 1440px) {
  .main3 {
    font-size: 12px;
  }
}
@media (max-width: 1400px) {
  .main3 {
    margin-left: 90px;
  }
}
@media (max-width: 1200px) {
  .main3 {
    margin-left: 60px;
    font-size: 10px;
  }
}
@media (max-width: 950px) {
  .main3 {
    margin-left: 40px;
  }
}
@media (max-width: 768px) {
  .main3  {
  margin-left: 20px;
  }
}
@media (max-width: 700px) {
  .main3 {
    margin-left: 25px;
  }
}
@media (max-width: 540px) {
  .main3 {
    font-size: 8px;
  }
}
@media (max-width: 420px) {
  .main3 {
    font-size: 8px;
    margin-left: 10px;
  }
}
@media (max-width: 413px) {
  .main3 {
    margin-left: 25px;
  }
}
@media (max-width: 376px) {
  .main3 {
    margin-left: 13px;
    width: 360px;
    font-size: 7px;
  }
}
@media (max-width: 320px) {
  .main3 {
    margin-left: 10px;
  }
}

.main4 {
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  margin-left: 110px;
  border-bottom: 1px solid #4A4A4A;
  transition: all 0.3s ease;
}
.main4:hover {
  color: #80221F;
  transform: translateX(-2px);

}
@media (max-width: 1440px) {
  .main4 {
    font-size: 12px;
    margin-left: 110px;
  }
}
@media (max-width: 1400px) {
  .main4 {
    margin-left: 90px;
  }
}
@media (max-width: 1200px) {
  .main4 {
    margin-left: 60px;
    font-size: 10px;
  }
}
@media (max-width: 950px) {
  .main4 {
    margin-left: 40px;
  }
}
@media (max-width: 768px) {
  .main4 {
  margin-left: 20px;
  }
}
@media (max-width: 700px) {
  .main4 {
    margin-left: 25px;
  }
}
@media (max-width: 540px) {
  .main4 {
    font-size: 8px;
  }
}
@media (max-width: 376px) {
  .main4 {
    margin-left: 13px;
    width: 360px;
    font-size: 7px;
  }
}
@media (max-width: 320px) {
  .main4 {
    margin-left: 10px;
  }
}

.button {
  width: 170px;
  height: 50px;
  background: #1B1C1D;
  color: #80221F;
  font-size: 20px;
  font-weight: bold;
  margin-left: 90px;
  border-radius: 5px;
  padding-left: 13px;
  margin-top: 0px;
  padding-top: 15px;
  margin-right: 134px;
  transition: all 0.6s ease;
}
.button:hover {
  background: #80221F;
  color: #000;
}

@media (max-width: 1440px) {
  .button {
    margin-left: 150px;
  }
}
@media (max-width: 1400px) {
  .button {
    margin-left: 90px;
  }
}
@media (max-width: 950px) {
  .button {
    width: 120px;
    font-size: 15px;
    padding-left: 5px;
  }
}
@media (max-width: 768px) {
  .button  {
  margin-left: 60px;
  }
}
@media (max-width: 700px) {
  .button {
    width: 80px;
    font-size: 10px;
    height: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-left: 100px;
  }
}
@media (max-width: 605px) {
  .button {
    margin-left: 20px;
  }
}
@media (max-width: 540px) {
  .button {
    display: none;
  }
}
@media (max-width: 420px) {
  .button {
    font-size: 8px;
    margin-left: 15px;
    width: 80px;
    height: 25px;
    padding-top: 9px;
  }
}

.yellow_line {
  height: 30px;
  background: #80221F;
  display: flex;
  text-align: center;
  align-items: center;
}

.span1 {
  font-size: 15px;
  letter-spacing: 2px;
  color: #000;
  font-weight: 800;
  margin-left: 139px;
  margin-right: 910px;
  white-space: nowrap;
}
@media (max-width: 1440px) {
  .span1 {
    margin-right: 885px;
    margin-left: 110px;
  }
}
@media (max-width: 1400px) {
  .span1 {
    margin-right: 730px;
  }
}
@media (max-width: 1200px) {
  .span1 {
    margin-right: 510px;
  }
}
@media (max-width: 1024px) {
  .span1 {
    margin-right: 510px;
    margin-left: 60px;
  }
}
@media (max-width: 950px) {
  .span1 {
    font-size: 12px;
    margin-right: 445px;
  }
}
@media (max-width: 768px) {
  .span1  {
  margin-left: 35px;
  margin-right: 385px;
  font-size: 10px;
  }
}
@media (max-width: 700px) {
  .span1 {
    margin-left: 10px;
    margin-right: 370px;
  }
}
@media (max-width: 605px) {
  .span1 {
    margin-right: 290px;
  }
}
@media (max-width: 540px) {
  .span1 {
    margin-right: 240px;
    font-size: 9px;
  }
}
@media (max-width: 426px) {
  .span1 {
    margin-right: 125px;
  }
}
@media (max-width: 420px) {
  .span1 {
    font-size: 8px;
    margin-left: 15px;
    margin-right: 130px;
  }
}
@media (max-width: 376px) {
  .span1 {
    margin-right: 100px;
  }
}
@media (max-width: 376px) {
  .span1 {
    margin-right: 50px;
    font-size: 7px;
  }
}

.span2 {
  font-size: 15px;
  letter-spacing: 2px;
  color: #000;
  font-weight: 800;
  white-space: nowrap;
}
@media (max-width: 950px) {
  .span2 {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .span2  {
  font-size: 10px;
  }
}
@media (max-width: 700px) {
  .span2{
    font-size: 10px;
  }
}
@media (max-width: 540px) {
  .span2 {
    font-size: 9px;
  }
}
@media (max-width: 420px) {
  .span2 {
    font-size: 8px;
    margin-left: 15px;
  }
}

.content {
  font-family: 'Rubik', sans-serif;
}
@media (max-width: 1320px) {
  .content {
    margin-left: -140px;
  }
}
@media (max-width: 1024px) {
  .content {
    margin-left: -290px;
  }
}
@media (max-width: 426px) {
  .content {
    margin-left: -310px;
  }
}

.color {
  margin-left: 434px;
}

.coloring {
  font-size: 50px;
  border: 1px solid #80221F;
  width: 700px;
  height: 91px;
  padding-left: 50px;
  margin-top: 155px;
  padding-top: 15px;
  font-weight: bold;
  letter-spacing: 2px;
}
@media (max-width: 768px) {
  .coloring  {
    width: 500px;
    font-size: 35px;
    padding-top: 25px;
    padding-left: 30px;
  }
}
@media (max-width: 426px) {
  .coloring {
    width: 300px;
    font-size: 20px;
    white-space: nowrap;
    height: 60px;
    padding-top: 20px;
    margin-left: -60px;
    margin-top: 80px;
    margin-bottom: -50px;
    padding-left: 20px;
  }
}
@media (max-width: 376px) {
  .coloring {
    width: 300px;
    font-size: 20px;
    white-space: nowrap;
    height: 60px;
    padding-top: 20px;
    margin-left: -90px;
    margin-top: 80px;
    margin-bottom: -50px;
    padding-left: 20px;
  }
}
@media (max-width: 321px) {
  .coloring {
    width: 300px;
    font-size: 20px;
    white-space: nowrap;
    height: 60px;
    padding-top: 20px;
    margin-left: -115px;
    margin-top: 80px;
    margin-bottom: -50px;
    padding-left: 20px;
  }
}

.main {
  margin-top: 114px;
  white-space: nowrap;
}

.cards-line1 {
  display: flex;
  align-items: center; 
}

.card1 {
  margin-left: 285px;
  margin-right: 35px;
}
@media (max-width: 768px) {
  .card1  {
    width: 350px;
    margin-left: 305px;
  }
}
@media (max-width: 426px) {
  .card1 {
    width: 210px;
    margin-right: 5px;
  }
}
@media (max-width: 376px) {
  .card1 {
  width: 180px;
  margin-left: 315px;
  }
}
@media (max-width: 321px) {
  .card1 {
    width: 150px;
    margin-left: 317px;
    margin-right: 5px;
  }
}

.card2 {

}
@media (max-width: 768px) {
  .card2  {
    width: 350px;
  }
}
@media (max-width: 426px) {
  .card2 {
    width: 208px;
  }
}
@media (max-width: 376px) {
  .card2 {
  width: 180px;
  }
}
@media (max-width: 321px) {
  .card2 {
    width: 150px;
  }
}

.card3 {
  margin-top: 60px;
  margin-left: 370px;
  margin-bottom: 60px;
}
@media (max-width: 1024px) {
  .card3 {
   width: 700px;
   margin-left: 325px;
  }
}
@media (max-width: 426px) {
  .card3 {
    width: 400px;
    margin-left: 315px;
  }
}
@media (max-width: 376px) {
  .card3 {
  width: 380px;
  margin-left: 310px;

  }
}
@media (max-width: 321px) {
  .card3 {
    width: 320px;
  }
}

.ring {
  margin-left: 434px;
}

.pravka {
  font-size: 50px;
  border: 1px solid #80221F;
  width: 700px;
  height: 91px;
  padding-left: 147px;
  padding-top: 15px;
  font-weight: bold;
  letter-spacing: 2px;
}

@media (max-width: 1320px) {
  .pravka {
    margin-left: -140px;
  }
}
@media (max-width: 1024px) {
  .pravka {
    margin-left: -250px;
  }
}
@media (max-width: 768px) {
  .pravka  {
    width: 500px;
    font-size: 35px;
    padding-top: 25px;
    padding-left: 100px;
    margin-left: -290px;
  }
}
@media (max-width: 426px) {
  .pravka {
    width: 300px;
    font-size: 20px;
    white-space: nowrap;
    height: 60px;
    padding-top: 20px;
    margin-left: -375px;
    margin-top: 80px;
    margin-bottom: -50px;
    padding-left: 65px;
  }
}
@media (max-width: 376px) {
  .pravka {
    width: 300px;
    font-size: 20px;
    white-space: nowrap;
    height: 60px;
    padding-top: 20px;
    margin-left: -400px;
    margin-top: 80px;
    margin-bottom: -50px;
    padding-left: 60px;
  }
}
@media (max-width: 321px) {
  .pravka {
    width: 300px;
    font-size: 20px;
    white-space: nowrap;
    height: 60px;
    padding-top: 20px;
    margin-left: -425px;
    margin-top: 80px;
    margin-bottom: -50px;
    padding-left: 60px;
  }
}

.cards-line3 {
}

.card4 {
  width: 820px;
  margin-left: 370px;
  margin-top: 75px;
  margin-bottom: 60px;
}
@media (max-width: 1320px) {
  .card4 {
    margin-left: 235px;
  }
}
@media (max-width: 1024px) {
  .card4 {
    margin-left: 120px;
  }
}
@media (max-width: 768px) {
  .card4  {
    width: 700px;
    margin-left: 35px;
  }
}
@media (max-width: 426px) {
  .card4 {
    width: 400px;
    margin-left: 5px;
  }
}
@media (max-width: 376px) {
  .card4 {
  width: 380px;
  margin-left: 0px;
  }
}
.ring2 {
  margin-left: 434px;
}

.raskatka {
  font-size: 50px;
  border: 1px solid #80221F;
  width: 700px;
  height: 91px;
  padding-left: 147px;
  padding-top: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 75px;
}
@media (max-width: 1320px) {
  .raskatka {
    margin-left: -140px;
  }
}
@media (max-width: 1024px) {
  .raskatka {
    margin-left: -250px;
  }
}
@media (max-width: 768px) {
  .raskatka  {
    width: 500px;
    font-size: 35px;
    padding-top: 25px;
    padding-left: 100px;
    margin-left: -290px;
  }
}
@media (max-width: 426px) {
  .raskatka {
    width: 300px;
    font-size: 20px;
    white-space: nowrap;
    height: 60px;
    padding-top: 20px;
    margin-left: -375px;
    padding-left: 65px;
  }
}
@media (max-width: 376px) {
  .raskatka {
    width: 300px;
    font-size: 20px;
    white-space: nowrap;
    height: 60px;
    padding-top: 20px;
    margin-left: -400px;
    padding-left: 60px;
  }
}
@media (max-width: 321px) {
  .raskatka {
    width: 300px;
    font-size: 20px;
    white-space: nowrap;
    height: 60px;
    padding-top: 20px;
    padding-left: 60px;
    margin-left: -423px;
  }
}

.card5 {
  margin-left: 370px;
}
@media (max-width: 1320px) {
  .card5 {
    margin-left: 235px;
  }
}
@media (max-width: 1024px) {
  .card5 {
    margin-left: 120px;
  }
}
@media (max-width: 768px) {
  .card5  {
    width: 700px;
    margin-left: 35px;
  }
}
@media (max-width: 426px) {
  .card5 {
    width: 400px;
    margin-left: 5px;
  }
}
@media (max-width: 376px) {
  .card5 {
    width: 400px;
    margin-left: 0px;
  }
}
.addition {
  margin-left: 434px;
  margin-top: 75px;
  margin-bottom: 60px;
}

.dopolnenie {
  font-size: 50px;
  border: 1px solid #80221F;
  width: 700px;
  height: 91px;
  padding-left: 10px;
  padding-top: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 75px;
  white-space: nowrap;
}
@media (max-width: 1320px) {
  .dopolnenie {
    margin-left: -140px;
  }
}
@media (max-width: 1024px) {
  .dopolnenie {
    margin-left: -250px;
  }
}
@media (max-width: 768px) {
  .dopolnenie  {
    width: 500px;
    font-size: 35px;
    padding-top: 25px;
    padding-left: 10px;
    margin-left: -290px;
  }
}
@media (max-width: 426px) {
  .dopolnenie {
    width: 300px;
    font-size: 18px;
    white-space: nowrap;
    height: 60px;
    padding-top: 20px;
    margin-left: -375px;
    padding-left: 15px;
  }
}
@media (max-width: 376px) {
  .dopolnenie {
    width: 300px;
    font-size: 20px;
    white-space: nowrap;
    height: 60px;
    padding-top: 20px;
    margin-left: -400px;
    padding-left: 2px;
  }
}
@media (max-width: 321px) {
  .dopolnenie {
    width: 300px;
    font-size: 20px;
    white-space: nowrap;
    height: 60px;
    padding-top: 20px;
    padding-left: 2px;
    margin-left: -423px;
  }
}
.card6 {
  margin-left: 465px;
  margin-bottom: 100px;
}
@media (max-width: 1320px) {
  .card6 {
    margin-left: 325px;
  }
}
@media (max-width: 1024px) {
  .card6 {
    margin-left: 215px;
  }
}
@media (max-width: 768px) {
  .card6  {
    width: 650px;
    margin-left: 60px;
  }
}
@media (max-width: 426px) {
  .card6 {
    width: 400px;
    margin-left: 5px;
  }
}
@media (max-width: 376px) {
  .card6 {
    width: 400px;
    margin-left: 0px;
  }
}