html {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a{
  text-decoration: none;
}


body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  background: #D9D9D9;
  min-height: 100vh;
}

.page {
  overflow: hidden;
  display: flex;
}

.header {
  background: #FFFFFF;
  height: 70px;
  display: flex;
  align-items: center;
}

.container {
  padding-right: 134px;
  padding-left: 134px;
  display: flex;
  align-items: center;
}
@media (max-width: 1440px) {
  .container {
    padding-left: 100px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding-left: 50px;
  }
}
@media (max-width: 950px) {
  .container {
    padding-left: 50px;
  }
}
@media (max-width: 768px) {
  .container  {
  padding-left: 20px;
  }
}
@media (max-width: 700px) {
  .container  {
  padding-left: 0px;
  }
}
@media (max-width: 420px) {
  .container {
    padding-left: 5px;
  }
}
@media (max-width: 413px) {
  .container {
    padding-left: 0px;
  }
}
@media (max-width: 320px) {
  .container {
    padding-left: 0px;
  }
}

.logo { 
  display: block;
  width: 125px; 
  height: 63px;
}
@media (max-width: 1200px) {
  .logo {
    width: 90px;
    margin-top: 15px;
  }
}
@media (max-width: 700px) {
  .logo  {
  width: 70px;
  margin-top: 25px;
  }
}
@media (max-width: 540px) {
  .logo {
    width: 60px;
    margin-top: 35px;
  }
}
@media (max-width: 420px) {
  .logo {
    width: 70px;
    margin-top: 25px;
  }
}
@media (max-width: 376px) {
  .logo {
    width: 55px;
    margin-top: 40px;
  }
}

.nav {
  text-decoration: none;
  font-size: 15px;
  white-space: nowrap;

} 

.main1{
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  margin-left: 130px;
  border-bottom: 1px solid #4A4A4A;
  transition: all 0.3s ease;
}
.main1:hover {
  color: #80221F;
  transform: translateX(-2px);
}

@media (max-width: 1440px) {
  .main1 {
    font-size: 12px;
  }
}
@media (max-width: 1400px) {
  .main1 {
    margin-left: 90px;
  }
}
@media (max-width: 1200px) {
  .main1 {
    margin-left: 60px;
    font-size: 10px;
  }
}
@media (max-width: 950px) {
  .main1 {
    margin-left: 40px;
  }
}
@media (max-width: 768px) {
  .main1  {
  margin-left: 50px;
  }
}
@media (max-width: 700px) {
  .main1 {
    margin-left: 25px;
  }
}
@media (max-width: 540px) {
  .main1 {
    font-size: 8px;
    margin-left: 60px;
  }
}
@media (max-width: 425px) {
  .main1 {
    margin-left: 20px;
  }
}
@media (max-width: 420px) {
  .main1 {
    font-size: 8px;
    margin-left: 10px;
  }
}
@media (max-width: 376px) {
  .main1 {
    margin-left: 15px;
    width: 360px;
    font-size: 7px;
  }
}
@media (max-width: 320px) {
  .main1 {
    margin-left: 10px;
  }
}

.main2 {
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  margin-left: 110px;
  border-bottom: 1px solid #4A4A4A;
  transition: all 0.3s ease;
}
.main2:hover {
  color: #80221F;
  transform: translateX(-2px);
}
@media (max-width: 1440px) {
  .main2 {
    font-size: 12px;
  }
}
@media (max-width: 1400px) {
  .main2 {
    margin-left: 90px;
  }
}
@media (max-width: 1200px) {
  .main2 {
    margin-left: 60px;
    font-size: 10px;
  }
}
@media (max-width: 950px) {
  .main2 {
    margin-left: 40px;
  }
}
@media (max-width: 768px) {
  .main2  {
  margin-left: 20px;
  }
}
@media (max-width: 700px) {
  .main2 {
    margin-left: 25px;
  }
}
@media (max-width: 540px) {
  .main2 {
    font-size: 8px;
  }
}
@media (max-width: 420px) {
  .main2 {
    font-size: 8px;
    margin-left: 10px;
  }
}
@media (max-width: 413px) {
  .main2 {
    margin-left: 25px;
  }
}
@media (max-width: 376px) {
  .main2 {
    margin-left: 13px;
    width: 360px;
    font-size: 7px;
  }
}
@media (max-width: 320px) {
  .main2 {
    margin-left: 10px;
  }
}

.main3 {
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  margin-left: 110px;
  border-bottom: 1px solid #4A4A4A;
  transition: all 0.3s ease;
}
.main3:hover {
  color: #80221F;
  transform: translateX(-2px);
}
@media (max-width: 1440px) {
  .main3 {
    font-size: 12px;
  }
}
@media (max-width: 1400px) {
  .main3 {
    margin-left: 90px;
  }
}
@media (max-width: 1200px) {
  .main3 {
    margin-left: 60px;
    font-size: 10px;
  }
}
@media (max-width: 950px) {
  .main3 {
    margin-left: 40px;
  }
}
@media (max-width: 768px) {
  .main3  {
  margin-left: 20px;
  }
}
@media (max-width: 700px) {
  .main3 {
    margin-left: 25px;
  }
}
@media (max-width: 540px) {
  .main3 {
    font-size: 8px;
  }
}
@media (max-width: 420px) {
  .main3 {
    font-size: 8px;
    margin-left: 10px;
  }
}
@media (max-width: 413px) {
  .main3 {
    margin-left: 25px;
  }
}
@media (max-width: 376px) {
  .main3 {
    margin-left: 13px;
    width: 360px;
    font-size: 7px;
  }
}
@media (max-width: 320px) {
  .main3 {
    margin-left: 10px;
  }
}

.main4 {
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  margin-left: 110px;
  border-bottom: 1px solid #4A4A4A;
  transition: all 0.3s ease;
}
.main4:hover {
  color: #80221F;
  transform: translateX(-2px);

}
@media (max-width: 1440px) {
  .main4 {
    font-size: 12px;
    margin-left: 110px;
  }
}
@media (max-width: 1400px) {
  .main4 {
    margin-left: 90px;
  }
}
@media (max-width: 1200px) {
  .main4 {
    margin-left: 60px;
    font-size: 10px;
  }
}
@media (max-width: 950px) {
  .main4 {
    margin-left: 40px;
  }
}
@media (max-width: 768px) {
  .main4 {
  margin-left: 20px;
  }
}
@media (max-width: 700px) {
  .main4 {
    margin-left: 25px;
  }
}
@media (max-width: 540px) {
  .main4 {
    font-size: 8px;
  }
}
@media (max-width: 376px) {
  .main4 {
    margin-left: 13px;
    width: 360px;
    font-size: 7px;
  }
}
@media (max-width: 320px) {
  .main4 {
    margin-left: 10px;
  }
}

.button {
  width: 170px;
  height: 50px;
  background: #1B1C1D;
  color: #80221F;
  font-size: 20px;
  font-weight: bold;
  margin-left: 90px;
  border-radius: 5px;
  padding-left: 13px;
  margin-top: 0px;
  padding-top: 15px;
  margin-right: 134px;
  transition: all 0.6s ease;
}
.button:hover {
  background: #80221F;
  color: #000;
}

@media (max-width: 1440px) {
  .button {
    margin-left: 150px;
  }
}
@media (max-width: 1400px) {
  .button {
    margin-left: 90px;
  }
}
@media (max-width: 950px) {
  .button {
    width: 120px;
    font-size: 15px;
    padding-left: 5px;
  }
}
@media (max-width: 768px) {
  .button  {
  margin-left: 60px;
  }
}
@media (max-width: 700px) {
  .button {
    width: 80px;
    font-size: 10px;
    height: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-left: 100px;
  }
}
@media (max-width: 605px) {
  .button {
    margin-left: 20px;
  }
}
@media (max-width: 540px) {
  .button {
    display: none;
  }
}
@media (max-width: 420px) {
  .button {
    font-size: 8px;
    margin-left: 15px;
    width: 80px;
    height: 25px;
    padding-top: 9px;
  }
}

.yellow_line {
  height: 30px;
  background: #80221F;
  display: flex;
  text-align: center;
  align-items: center;
}

.span1 {
  font-size: 15px;
  letter-spacing: 2px;
  color: #000;
  font-weight: 800;
  margin-left: 139px;
  margin-right: 910px;
  white-space: nowrap;
}
@media (max-width: 1440px) {
  .span1 {
    margin-right: 885px;
    margin-left: 110px;
  }
}
@media (max-width: 1400px) {
  .span1 {
    margin-right: 730px;
  }
}
@media (max-width: 1200px) {
  .span1 {
    margin-right: 510px;
  }
}
@media (max-width: 1024px) {
  .span1 {
    margin-right: 510px;
    margin-left: 60px;
  }
}
@media (max-width: 950px) {
  .span1 {
    font-size: 12px;
    margin-right: 445px;
  }
}
@media (max-width: 768px) {
  .span1  {
  margin-left: 35px;
  margin-right: 385px;
  font-size: 10px;
  }
}
@media (max-width: 700px) {
  .span1 {
    margin-left: 10px;
    margin-right: 370px;
  }
}
@media (max-width: 605px) {
  .span1 {
    margin-right: 290px;
  }
}
@media (max-width: 540px) {
  .span1 {
    margin-right: 240px;
    font-size: 9px;
  }
}
@media (max-width: 425px) {
  .span1 {
    margin-right: 140px;
  }
}
@media (max-width: 420px) {
  .span1 {
    font-size: 8px;
    margin-left: 15px;
    margin-right: 130px;
  }
}
@media (max-width: 376px) {
  .span1 {
    margin-right: 100px;
  }
}
@media (max-width: 376px) {
  .span1 {
    margin-right: 50px;
    font-size: 7px;
  }
}

.span2 {
  font-size: 15px;
  letter-spacing: 2px;
  color: #000;
  font-weight: 800;
  white-space: nowrap;
}
@media (max-width: 950px) {
  .span2 {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .span2  {
  font-size: 10px;
  }
}
@media (max-width: 700px) {
  .span2{
    font-size: 10px;
  }
}
@media (max-width: 540px) {
  .span2 {
    font-size: 9px;
  }
}
@media (max-width: 420px) {
  .span2 {
    font-size: 8px;
    margin-left: 15px;
  }
}

.cards {

}


.cards_container {
  margin-left: 134px;
  margin-top: 85px;
  display: flex;
  align-items: center;
}
@media (max-width: 1440px) {
  .cards_container {
    margin-left: 90px;
  }
}
@media (max-width: 768px) {
  .cards_container {
    margin-left: 55px;
  }
}
@media (max-width: 700px) {
  .cards_container {
    margin-left: 10px;
  }
}
@media (max-width: 376px) {
  .cards_container {
    margin-left: -10px;
  }
}

.card1 {
  margin-right: 10px; 
  width: 650px;
  height: 440px;
  display:block;
  position: relative;
  transition: all 0.5s ease; 
}
.card1:hover{
  transform: translateY(-10px);
  box-shadow: 0 5px 15px black;

}
@media (max-width: 1440px) {
  .card1 {
    height: 426px;
  }
}
@media (max-width: 1400px) {
  .card1 {
    width: 550px;
  }
}
@media (max-width: 1200px) {
  .card1 {
    width: 460px;
    height:380px;
  }
}
@media (max-width: 1024px) {
  .card1 {
    height: 300px;
    margin-top: -50px;
    margin-left: -40px;
  }
}
@media (max-width: 950px) {
  .card1 {
    height: 200px;
    margin-top: -55px;
    width: 350px;
    margin-left: -7px;
  }
}
@media (max-width: 700px) {
  .card1 {
    width: 294px;
  }
}
@media (max-width: 605px) {
  .card1 {
    margin-left: 20px;
    margin-right: 10px;
  }
}
@media (max-width: 540px) {
  .card1 {
    height: 150px;
    margin-left: 5px;
  }
}
@media (max-width: 425px) {
  .card1 {
    width: 250px;
    margin-left: -10px;
  }
}
@media (max-width: 420px) {
  .card1 {
    width: 170px;
    font-size: 10px;
    height: 110px;
    margin-left: 20px;
  }
}
@media (max-width: 412px) {
  .card1 {
    margin-right: 0px;
  }
}
@media (max-width: 320px) {
  .card1 {
    margin-left: 10px;
  }
}




.card2 {
  margin-right: 105px;
  width: 650px;
  margin-left: 10px;
  position: relative;
  transition: all 0.5s ease; 
}
.card2:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px black;
}
@media (max-width: 1440px) {
  .card2 {
    width: 630px;
    height: 426px;
  }
}
@media (max-width: 1400px) {
  .card2 {
    width: 550px;
  }
}
@media (max-width: 1200px) {
  .card2 {
    width: 460px;
    height: 380px; 
  }
}
@media (max-width: 1024px) {
  .card2 {
    height: 300px;
    margin-top: -50px;
    width: 417px;
    margin-left: 40px;
  }
}
@media (max-width: 950px) {
  .card2 {
    height: 200px;
    margin-top: -55px;
    width: 350px;
    margin-left: -5px;
  }
}
@media (max-width: 768px) {
  .card2  {
    width: 312px;
  }
}
@media (max-width: 700px) {
  .card2 {
    width: 270px;
    margin-left: 60px;
  }
}
@media (max-width: 605px) {
  .card2 {
    margin-left: 30px;
  }
}
@media (max-width: 540px) {
  .card2 {
    height: 150px;
    width: 240px;
  }
}
@media (max-width: 425px) {
  .card2 {
    width: 220px;
    margin: 0;
    margin-top: -55px;
  }
}
@media (max-width: 420px) {
  .card2 {
    width: 170px;
    font-size: 10px;
    height: 110px;
    margin-left: 50px;
  }
}
@media (max-width: 412px) {
  .card2 {
    margin-left: 10px;
  }
}
@media (max-width: 376px) {
  .card2 {
    margin-left: 15px;
  }
}
@media (max-width: 376px) {
  .card2 {
    margin-left: 15px;
  }
}


.undercards {
  margin-left: 134px;
  margin-top: 30px;
  border: 2px solid #262626;
  width: 250px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bolder;
  padding-left: 5px;
  background: #80221F;
  border-radius: 10px;

}

@media (max-width: 1440px) {
  .undercards { 
    margin-left: 90px;
  }
}
@media (max-width: 1024px) {
  .undercards {
    margin-left: 120px;
  }
}
@media (max-width: 950px) {
  .undercards {
    margin-left: 85px;
    width: 200px; 
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .undercards {
    margin-left: 50px;
  }
}
@media (max-width: 700px) {
  .undercards {
    margin-left: 30px;
  }
}
@media (max-width: 420px) {
  .undercards  {
    width: 130px;
    font-size: 10px;
    margin-left: 20px;
  }
}

.under {
  text-decoration: none;
  color: #fff;
  position: relative;
  transition: all 0.3s ease;
}
.under:hover {
  color: #fff;
  box-shadow: 0 5px 10px black;
}

.price {
  display: flex;
  align-items: center;
  text-align: center;
}

.dollar{
  margin-left: 134px;
  margin-top: 45px;
  margin-right: 18px;
  width: 99px;
}
@media (max-width: 1200px) {
  .dollar { 
    width: 80px;  
    margin-left: 90px;
  }
}
@media (max-width: 1024px) {
  .dollar {
    margin-left: 110px;
  }
}
@media (max-width: 950px) {
  .dollar {
    width: 60px;
    margin-left: 85px;
  }
}
@media (max-width: 700px) {
  .dollar {
    margin-left: 10px;
  }
}
@media (max-width: 420px) {
  .dollar  {
    max-width: 50px;
    margin-left: 20px;
    margin-top: 40px;
  }
}


.price-text {
  font-size: 50px;
  font-weight: bold;
  color: #262626;
  margin-top: 30px;
}
@media (max-width: 1200px) {
  .price-text { 
    font-size: 35px;
  }
}
@media (max-width: 950px) {
  .price-text {
    font-size: 25px;
    margin-bottom: 0px;
  }
}
@media (max-width: 768px) {
  .price-text {
    margin-top: 40px;
  }
}
@media (max-width: 420px) {
  .price-text  {
    font-size: 20px;
  }
}

.firstline {
  background: #80221F;
  margin-top: 15px;
}


.rs {
  margin-right: 237px;
  margin-left: 237px;
  margin-top: 48px;
  margin-bottom: 150px;
  width: 1100px;
}

@media (max-width: 1440px) {
  .rs {
    margin-left: 180px; 
  }
}
@media (max-width: 1400px) {
  .rs {
    width: 1000px;
  }
}
@media (max-width: 1200px) {
  .rs {
  margin-left: 100px;
  width: 910px;
  }
}
@media (max-width: 1024px) {
  .rs {
   width: 810px;
   margin-left: 110px;
  }
}
@media (max-width: 950px) {
  .rs  {
    width: 710px;
    margin-left: 95px;
  }
}
@media (max-width: 768px) {
  .rs {
    width: 550px;
    margin-left: 110px;
  }
}
@media (max-width: 700px) {
  .rs {
    width: 450px  ;
    margin-left: 130px;
  }
}
@media (max-width: 605px) {
  .rs {
    width: 350px;
  }
}
@media (max-width: 540px) {
  .rs {
    margin-left: 95px;
  } 
}
@media (max-width: 425px) {
  .rs {
    margin-left: 40px;
  }
}
@media (max-width: 420px) {
  .rs {
    width: 390px;
    margin-left: 13px; 
  }
}
@media (max-width: 376px) {
  .rs {
    margin-left: 7px;
    width: 360px;
  }
}
@media (max-width: 320px) {
  .rs {
    margin-left: 5px;
    width: 310px;
  }
}


.r14-15 {
  display: block;
  margin-top: 20px;
}

.r16 {
  display: block;
  margin-top: 20px;
}

.r17 {
  display: block;
  margin-top: 20px;
}

.r18 {
  display: block;
  margin-top: 20px;
}

.r19 {
  display: block;
  margin-top: 20px;
}

.r20 {
  display: block;
  margin-top: 20px;
}

.r21 {
  display: block;
  margin-top: 20px;
}

.r22 {
  display: block;
  margin-top: 20px;
}

.price2 {
  margin-left: 237px;
  width: 400px;
  height: 80px;
  margin-top: -50px;
}

.price2-text {
  font-size: 35px;
  color: #fff;
  letter-spacing: 5%;
  border-radius: 2px solid #262626;
  background: #80221F;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
  white-space: nowrap;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s ease;
}
.price2-text:hover {
  box-shadow: 0 5px 10px black;
}

@media (max-width: 1440px) {
  .price2-text {
    margin-left: -50px;
  }
}
@media (max-width: 1024px) {
  .price2-text {
    font-size: 25px;
    margin-left: -130px;
  }
}
@media (max-width: 950px) {
  .price2-text  {
    font-size: 20px;
    margin-left: -140px;  
  }
}
@media (max-width: 768px) {
  .price2-text {
  font-size: 20px;
  margin-left: -120px;
  }
}
@media (max-width: 605px) {
  .price2-text {
    margin-left: -100px;
    font-size: 13px;
  }
}
@media (max-width: 540px) {
  .price2-text {
    margin-left: -80px;
  }
}
@media (max-width: 425px) {
  .price2-text {
    margin-left: -130px;
  }
}   
@media (max-width: 420px) {
  .price2-text  {
    font-size: 20px;
    margin-left: -170px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width: 320px) {
  .price2-text {
    font-size: 15px;
    margin-left: -185px;
  }
}

.secondline {
  margin-top: 40px;
  background: #80221F;
  margin-bottom: 152px;
}
@media (max-width: 1200px) {
  .secondline {
    margin-bottom: 30px;
  }
}
@media (max-width: 420px) {
  .secondline {
    margin-bottom: -10px
  }
}


.bottom {
  display: flex;
  align-items: center;
}

.contact {
  margin-left: 220px;
  display: block;
}
@media (max-width: 1440px) {
  .contact {
    margin-left: 180px; 
  }
}
@media (max-width: 1400px) {
  .contact {
    margin-left: 100px;
  }
}
@media (max-width: 605px) {
  .contact {
    margin-left: 50px;
  }
}
@media (max-width: 540px) {
  .contact {
    margin-left: 170px;
  }
}
@media (max-width: 425px) {
  .contact {
    margin-left: 120px;
  }
} 
@media (max-width: 420px) {
  .contact {
    margin-left: 120px;
  }
}
@media (max-width: 320px) {
  .contact {
    margin-left: 75px;
  }
}



.contact-text {
  font-size: 50px;
  letter-spacing: 5px;
  color: #262626;
  margin-bottom: 50px;
  margin-left: 5px;
}
@media (max-width: 1024px) {
  .contact-text {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .contact-text {
    font-size: 30px;
  }
}
@media (max-width: 420px) {
  .contact-text {
    font-size: 25px;
    margin-top: 30px;
  }
}

.first {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.adres {
  margin-left: 12px;
  letter-spacing: 3px;
  font-weight: 500;
  color: #262626;
}
@media (max-width: 1024px) {
  .adres {
    font-size: 13px;
  }
}

.second {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}


.number1 {
  margin-left: 12px;
  letter-spacing: 3px;
  font-weight: 500;
  color: #262626;
}
@media (max-width: 1024px) {
  .number1 {
    font-size: 13px;
  }
}

.third {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.number2 {
  margin-left: 12px;
  letter-spacing: 3px;
  font-weight: 500;
  color: #262626;
}
@media (max-width: 1024px) {
  .number2 {
    font-size: 13px;
  }
}

.fourd {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.vk {
  margin-left: 12px;
  letter-spacing: 3px;
  font-weight: 500;
  color: #262626;
}
@media (max-width: 1024px) {
  .vk {
    font-size: 13px;
  }
}

.icon1 {
  width: 24px;
}
@media (max-width: 768px) {
  .icon1 {
    width: 15px;
  }
}

.icon2 {
  width: 24px;
}
@media (max-width: 768px) {
  .icon2 {
    width: 15px;
  }
}

.icon3 {
  width: 24px;
}
@media (max-width: 768px) {
  .icon3 {
    width: 15px;
  }
}

.icon4 {
  width: 24px;
}
@media (max-width: 768px) {
  .icon4 {
    width: 15px;
    height: 15px;
  }
}

.map {
  margin-left: 620px;
  margin-top: -330px;
  margin-bottom: 124px;
}
@media (max-width: 1440px) {
  .map {
    margin-left: 580px; 
  }
}
@media (max-width: 1400px) {
  .map {
    margin-left: 500px;
    width: 100px;
  }
}
@media (max-width: 1301px) {
  .map {
    margin-left: 470px;
    width: 500px;
  }
}
@media (max-width: 1200px) {
  .map {
  margin: 0;
  top: 0;  
  margin-left: 100px;
  width: 70%;
  margin-top: 30px;
  }
}
@media (max-width: 950px) {
  .map  {
  margin-left: 40px;
  }
}
@media (max-width: 768px) {
  .map {
    margin-left: 0px;
  }
}
@media (max-width: 420px) {
  .map {
    margin: 0;
    top: 0;
    width: 200px;
    height: 100px;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
}


.bottoms {
  margin-top: 40px;
  background: #000000;
  margin-bottom: 50px;
}
@media (max-width: 420px) {
  .bottoms {
    display: none;
  }
}
